# ───── 🎯 Archivos generados ──────────────────────────────────────
node_modules
dist
dist-ssr
*.local

# ───── 📄 Logs ─────────────────────────────────────────────────────
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ───── 🛠️ Archivos de configuración del editor ─────────────────────
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ───── 🧹 Imágenes grandes innecesarias de temas CSS ────────────────
src/scss/apple/images/
src/scss/google/images/
src/scss/transparent/images/
src/scss/default/images/
src/scss/facebook/images/
src/scss/material/images/
